body {
  background-image: url(../../image/city1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
}
.first-div{
    overflow: hidden;
}
.image {
  /* background-image: url(../../image/city.jpg); */
  height: 570px !important;
  overflow: hidden;
}
.weatherCondition {
  font-weight: 400;
  font-size: calc(1rem + 2vw);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
hr {
  border-top: 3.5px solid !important;
  color: white !important;
  opacity: 1 !important;
  border-radius: 20px;
  width: 90%;
  align-self: center;
}
.searchIcon,
input {
  background: transparent !important;
  border: none !important;
  color: white !important;
  opacity: 1 !important;
}
.input-group {
  border-bottom: 1px solid white;
  background: transparent !important;
  width: 80% !important;
  align-self: center;
}
input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.weatherDetailSeparation{
  border-top: 3.5px solid !important;
  color: white !important;
  opacity: 1 !important;
  border-radius: 20px;
  width: 80%;
  align-self: center;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
  
